<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	
	<form action="/"></form>

	<% @linkhash.each do |key, value| %>
	  <%=value%> has shortlink <%=key%>
	  <br>
	<%end%>

	<% @pages_visited.each do |key, value| %>
	  <%=key%> created at <%=value['created']%>  has been visited <%=value['visited']%> times
	  <br>
	 <%end%>



	<form action="/construct_link" method= "POST">
  		<div>
    		<label for="user_link">Please provide a link</label>
    		<input type="text" name=link placeholder="your link">
  		</div>
  		<button type="submit">Submit text</button>
  		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	</form>
</body>
</html>