<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= post.title %></title>
</head>
<body>
	
	Title: <%= post.title %><hr>
	Created: <%= post.date %><hr>
	Author: <%= post.author %><hr>
	Category: <%= post.category %><hr>
	<%= post.text %><hr>
</body>
</html>